<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, expedita. Eligendi ab earum animi, omnis nam illum ipsum non autem nisi maxime nihil accusamus repellat ea. Perspiciatis, dolores eveniet recusandae nostrum numquam aperiam. Id officiis fugiat alias nesciunt similique in?</p>
    </div>
</div>