<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App created with Node.JS and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio ullam consectetur libero eligendi, iure voluptates ducimus unde id aperiam consequatur quasi accusamus molestias totam, error atque eaque laudantium, praesentium veritatis.</p>
    <a href="https://gitlab.com/dionislabs" class="btn btn-primary">DionisLabs Web</a>
</div>