<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="/notes">Lista de la Compra</a>
  </button>
  <h6 class='navbar-brand'>by DionisLabs</h6>
  </div>
</nav>